/* Button styling */
button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #235022;
}

button[id="reset"] {
    background-color: #f44336;
    margin-top: 10px;
}

button[id="reset"]:hover {
    background-color: #97211b;
}

/* For small devices */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 10px;
    }
}