/**
    General styling
*/
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

/**
    Styling for links
*/
li>a {
    color: #0067a5;
    text-decoration: none;
    padding-left: 30px;
    font-size: 1.5rem;
}

/**
    Styling when hovering over links
*/
li>a:hover {
    text-decoration: underline;
}

/**
    When a page is currently displayed
*/
.active {
    color: #000000;
    font-weight: bold;
}

/**
    General styling for header  
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #78AB46;
    color: #fff;
    padding: 10px 20px;
}

/**
    Styling for garden logo image (mainly size adjustment)
*/
header .logo img {
    width: 150px;
}

/**
    Styling for navigation menu
*/
nav ul {
    padding: 0;
    list-style: none;
}

/**
    Styling for navigation links
*/
nav ul li {
    display: inline;
    margin-right: 20px;
}

/**
    Styling for articles
*/
article {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* A subtle shadow for depth */
}

/**
    Styling for the about section
*/
.about {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/**
    Styling for article titles
*/
article h2 {
    color: #4a772f;
}

#page-title {
    color: #4a772f;
    text-align: center;
}

/**
    Styling for article date written
*/
.post-date {
    color: #999;
    font-style: italic;
}

/**
    Adjustments for article image
*/
article img {
    max-width: 100%
}

/**
    Class for wrapping text around images
*/
.wrap-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%;
}

/**
    Styling for footer with copyright
*/
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    clear: both;
}

/**
    Styling for the posts
*/
.post {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/**
    Styling for tags
*/
.tags {
    color:#0067a5;
}

/**
    Styling for the post content
*/
.post-content {
    display: none;
}

.read-button {
    border: none;
    background-color: #fff;
    color: #4baf09;
    font-weight: bold;
    cursor: pointer;
}

.read-button:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 80%;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 8px;
    box-sizing: border-box;
}

/**
    Improves UX for devices of different sizes
*/
@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
    }

    article {
        margin: 20px;
    }
}



